name: SshConfig tests

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - '*'

jobs:
  test_macOS:
    name: Swift tests on the latest MacOS
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v2
    - name: Build
      run: swift build
    - name: Run tests
      run: swift test

  test_linux:
    name: Swift tests on the latest Ubuntu (${{ matrix.image }})
    strategy:
      matrix:
        image: ["swift:5.1", "swift:5.2", "swift:5.3", "swift:5.4"]
    runs-on: ubuntu-latest
    container: ${{ matrix.image }}
    steps:
    - uses: actions/checkout@v2
    - name: Build
      run: swift build
    - name: Run tests
      run: swift test
